

* {
    box-sizing: border-box;
}

::backdrop {
    backdrop-filter: blur(2px);
}

:root {
    --gray: #d7d7d7;
    --blue: #caf0f8;
    --mid: #D1E2E6;
}

body {
    margin: 0;
    text-align: center;
    background-color: #d7d7d7;
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    padding: 0.5em 0 1em;
    margin: 0;

    background: linear-gradient(var(--blue), var(--gray));
}

button {
    cursor: pointer;
}

.addBtn {
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    margin: 1em;

}

.addBtn:hover {
    background-color: var(--blue);
    border-radius: 8px;
}

.content {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.card .readStatus {
    display: flex;
    align-items: center;
}

.card .image {
    width: 30px;
    height: 30px;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.card .image[read=true] {
    background-image: url('./img/checkbox-outline.svg'), radial-gradient(lightgreen, green);
    background-size: 40px 40px, 25px 25px;
}

.card .image[read=false] {
    background-image: url('./img/close-box-outline.svg'), radial-gradient(pink, red);
    background-size: 40px 40px, 25px 25px;
}

.card button {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

dialog input{
    font-size: 1.2rem;
}

dialog input[type=checkbox] {
    transform: scale(2);
}

dialog p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

dialog button {
    font-size: 1.2rem;
    padding: 0.5em 1em; 
}

.error-message {
    display: none;
}

.error-message.visible {
    color: red;
    display: block;
}